In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ealtman2019/ibm-transactions-for-anti-money-laundering-aml")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'ibm-transactions-for-anti-money-laundering-aml' dataset.
Path to dataset files: /kaggle/input/ibm-transactions-for-anti-money-laundering-aml

In [ ]:
import pandas as pd

# Load the transaction dataset
df_transactions = pd.read_csv('/content/PS_20174392719_1491204439457_log.csv')

print("### df_transactions - First 5 Rows ###")
print(df_transactions.head())
print("\n### df_transactions - Column Names ###")
print(df_transactions.columns)
print("\n### df_transactions - Info ###")
df_transactions.info()

# Load the policy compliance dataset
df_policy = pd.read_csv('/content/Policy_Compliance_Dataset_Updated.csv')

print("\n### df_policy - First 5 Rows ###")
print(df_policy.head())
print("\n### df_policy - Column Names ###")
print(df_policy.columns)
print("\n### df_policy - Info ###")
df_policy.info()

### df_transactions - First 5 Rows ###
   step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.64  C1231006815       170136.0       160296.36
1     1   PAYMENT   1864.28  C1666544295        21249.0        19384.72
2     1  TRANSFER    181.00  C1305486145          181.0            0.00
3     1  CASH_OUT    181.00   C840083671          181.0            0.00
4     1   PAYMENT  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0      0.0             0.0
1  M2044282225             0.0             0.0      0.0             0.0
2   C553264065             0.0             0.0      1.0             0.0
3    C38997010         21182.0             0.0      1.0             0.0
4  M1230701703             0.0             0.0      0.0             0.0

### df_transactions - Column Names ###
Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

### df_transactions - Info ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2858707 entries, 0 to 2858706
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         float64
 10  isFlaggedFraud  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 239.9+ MB

### df_policy - First 5 Rows ###
   Employee_ID         Name  Working_Days  Target_Sales  Actual_Sales  \
0            1  Ahmed Tariq            21         14435         19470
1            2  Usman Iqbal            18          9998          9968
2            3  Fatima Khan            27          5162         11493
3            4   Zain Tariq            29          6974          8103
4            5  Ahmed Malik            25          8291          6076

   Customer_Satisfaction_Score Policy_Compliance  Low_Working_Days  \
0                          2.3                No             False
1                          3.0                No              True
2                          3.3                No             False
3                          2.8                No             False
4                          3.7                No             False

   Target_Not_Met  Low_Customer_Satisfaction  \
0           False                       True
1           False                       True
2           False                       True
3           False                       True
4            True                       True

                         Non_Compliance_Reason     Month
0                    Low Customer Satisfaction     March
1  Low Working Days, Low Customer Satisfaction  December
2                    Low Customer Satisfaction  February
3                    Low Customer Satisfaction       May
4    Target Not Met, Low Customer Satisfaction  February

### df_policy - Column Names ###
Index(['Employee_ID', 'Name', 'Working_Days', 'Target_Sales', 'Actual_Sales',
       'Customer_Satisfaction_Score', 'Policy_Compliance', 'Low_Working_Days',
       'Target_Not_Met', 'Low_Customer_Satisfaction', 'Non_Compliance_Reason',
       'Month'],
      dtype='object')

### df_policy - Info ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Employee_ID                  4000 non-null   int64
 1   Name                         4000 non-null   object
 2   Working_Days                 4000 non-null   int64
 3   Target_Sales                 4000 non-null   int64
 4   Actual_Sales                 4000 non-null   int64
 5   Customer_Satisfaction_Score  4000 non-null   float64
 6   Policy_Compliance            4000 non-null   object
 7   Low_Working_Days             4000 non-null   bool
 8   Target_Not_Met               4000 non-null   bool
 9   Low_Customer_Satisfaction    4000 non-null   bool
 10  Non_Compliance_Reason        3396 non-null   object
 11  Month                        4000 non-null   object
dtypes: bool(3), float64(1), int64(4), object(4)
memory usage: 293.1+ KB

In [ ]:
print("\n### df_transactions - Numerical Columns Descriptive Statistics ###")
print(df_transactions.describe())

print("\n### df_transactions - Categorical Columns Descriptive Statistics ###")
print(df_transactions.describe(include='object'))

print("\n### df_transactions - Value Counts for 'type' ###")
print(df_transactions['type'].value_counts())

print("\n### df_transactions - Value Counts for 'isFraud' ###")
print(df_transactions['isFraud'].value_counts())

print("\n### df_transactions - Value Counts for 'isFlaggedFraud' ###")
print(df_transactions['isFlaggedFraud'].value_counts())

### df_transactions - Numerical Columns Descriptive Statistics ###
               step        amount  oldbalanceOrg  newbalanceOrig  \
count  2.858707e+06  2.858707e+06   2.858706e+06    2.858706e+06
mean   1.190338e+02  1.574249e+05   8.464719e+05    8.678025e+05
std    7.439333e+01  2.673550e+05   2.919948e+06    2.956313e+06
min    1.000000e+00  0.000000e+00   0.000000e+00    0.000000e+00
25%    3.700000e+01  1.245304e+04   0.000000e+00    0.000000e+00
50%    1.390000e+02  7.598076e+04   1.472200e+04    0.000000e+00
75%    1.840000e+02  2.111991e+05   1.142448e+05    1.534467e+05
max    2.270000e+02  1.000000e+07   3.893942e+07    3.894623e+07

       oldbalanceDest  newbalanceDest       isFraud  isFlaggedFraud
count    2.858706e+06    2.858706e+06  2.858706e+06    2.858706e+06
mean     9.933791e+05    1.101511e+06  8.909626e-04    3.498086e-07
std      2.298613e+06    2.382947e+06  2.983570e-02    5.914462e-04
min      0.000000e+00    0.000000e+00  0.000000e+00    0.000000e+00
25%      0.000000e+00    0.000000e+00  0.000000e+00    0.000000e+00
50%      1.364919e+05    2.226847e+05  0.000000e+00    0.000000e+00
75%      9.429534e+05    1.128794e+06  0.000000e+00    0.000000e+00
max      4.265577e+07    4.265577e+07  1.000000e+00    1.000000e+00

### df_transactions - Categorical Columns Descriptive Statistics ###
            type     nameOrig    nameDest
count    2858707      2858707     2858706
unique         5      2856774     1218962
top     CASH_OUT  C1677795071  C985934102
freq     1015954            3         103

### df_transactions - Value Counts for 'type' ###
type
CASH_OUT    1015954
PAYMENT      961604
CASH_IN      626399
TRANSFER     236654
DEBIT         18096
Name: count, dtype: int64

### df_transactions - Value Counts for 'isFraud' ###
isFraud
0.0    2856159
1.0       2547
Name: count, dtype: int64

### df_transactions - Value Counts for 'isFlaggedFraud' ###
isFlaggedFraud
0.0    2858705
1.0          1
Name: count, dtype: int64

In [ ]:
print("\n### df_policy - Numerical Columns Descriptive Statistics ###")
print(df_policy.describe())

print("\n### df_policy - Categorical Columns Descriptive Statistics ###")
print(df_policy.describe(include='object'))

print("\n### df_policy - Value Counts for 'Policy_Compliance' ###")
print(df_policy['Policy_Compliance'].value_counts())

print("\n### df_policy - Value Counts for 'Low_Working_Days' ###")
print(df_policy['Low_Working_Days'].value_counts())

print("\n### df_policy - Value Counts for 'Target_Not_Met' ###")
print(df_policy['Target_Not_Met'].value_counts())

print("\n### df_policy - Value Counts for 'Low_Customer_Satisfaction' ###")
print(df_policy['Low_Customer_Satisfaction'].value_counts())

print("\n### df_policy - Value Counts for 'Non_Compliance_Reason' ###")
print(df_policy['Non_Compliance_Reason'].value_counts())

print("\n### df_policy - Value Counts for 'Month' ###")
print(df_policy['Month'].value_counts())

### df_policy - Numerical Columns Descriptive Statistics ###
       Employee_ID  Working_Days  Target_Sales  Actual_Sales  \
count  4000.000000   4000.000000   4000.000000    4000.00000
mean   2000.500000     22.412250  12497.124500   12942.75300
std    1154.844867      4.620675   4361.473733    5216.77862
min       1.000000     15.000000   5002.000000    4001.00000
25%    1000.750000     18.000000   8707.000000    8419.50000
50%    2000.500000     22.000000  12425.000000   12997.50000
75%    3000.250000     26.000000  16368.250000   17453.25000
max    4000.000000     30.000000  19996.000000   22000.00000

       Customer_Satisfaction_Score
count                  4000.000000
mean                      3.493850
std                       0.864352
min                       2.000000
25%                       2.800000
50%                       3.500000
75%                       4.200000
max                       5.000000

### df_policy - Categorical Columns Descriptive Statistics ###
                   Name Policy_Compliance      Non_Compliance_Reason  Month
count              4000              4000                       3396   4000
unique              100                 2                          7     12
top     Fatima Chaudhry                No  Low Customer Satisfaction  March
freq                 59              3396                       1208    359

### df_policy - Value Counts for 'Policy_Compliance' ###
Policy_Compliance
No     3396
Yes     604
Name: count, dtype: int64

### df_policy - Value Counts for 'Low_Working_Days' ###
Low_Working_Days
False    2710
True     1290
Name: count, dtype: int64

### df_policy - Value Counts for 'Target_Not_Met' ###
Target_Not_Met
False    2665
True     1335
Name: count, dtype: int64

### df_policy - Value Counts for 'Low_Customer_Satisfaction' ###
Low_Customer_Satisfaction
True     2614
False    1386
Name: count, dtype: int64

### df_policy - Value Counts for 'Non_Compliance_Reason' ###
Non_Compliance_Reason
Low Customer Satisfaction                                      1208
Target Not Met, Low Customer Satisfaction                       576
Low Working Days, Low Customer Satisfaction                     543
Target Not Met                                                  322
Low Working Days                                                310
Low Working Days, Target Not Met, Low Customer Satisfaction     287
Low Working Days, Target Not Met                                150
Name: count, dtype: int64

### df_policy - Value Counts for 'Month' ###
Month
March        359
September    358
May          347
January      345
June         343
November     334
August       334
December     326
October      322
April        316
July         309
February     307
Name: count, dtype: int64

In [ ]:
print("### Missing values in df_transactions (before handling) ###")
print(df_transactions.isnull().sum())

### Missing values in df_transactions (before handling) ###
step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     1
newbalanceOrig    1
nameDest          1
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [ ]:
df_transactions.dropna(inplace=True)
print("### df_transactions - Missing values after dropping NA ###")
print(df_transactions.isnull().sum())

### df_transactions - Missing values after dropping NA ###
step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [ ]:
print("### Missing values in df_policy (before handling) ###")
print(df_policy.isnull().sum())

### Missing values in df_policy (before handling) ###
Employee_ID                      0
Name                             0
Working_Days                     0
Target_Sales                     0
Actual_Sales                     0
Customer_Satisfaction_Score      0
Policy_Compliance                0
Low_Working_Days                 0
Target_Not_Met                   0
Low_Customer_Satisfaction        0
Non_Compliance_Reason          604
Month                            0
dtype: int64

In [ ]:
df_policy.loc[df_policy['Policy_Compliance'] == 'Yes', 'Non_Compliance_Reason'] = df_policy.loc[df_policy['Policy_Compliance'] == 'Yes', 'Non_Compliance_Reason'].fillna('No Reason (Compliant)')
df_policy['Non_Compliance_Reason'].fillna('No Reason Specified', inplace=True)

print("### Missing values in df_policy (after handling) ###")
print(df_policy.isnull().sum())

### Missing values in df_policy (after handling) ###
Employee_ID                    0
Name                           0
Working_Days                   0
Target_Sales                   0
Actual_Sales                   0
Customer_Satisfaction_Score    0
Policy_Compliance              0
Low_Working_Days               0
Target_Not_Met                 0
Low_Customer_Satisfaction      0
Non_Compliance_Reason          0
Month                          0
dtype: int64

/tmp/ipython-input-1161526327.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_policy['Non_Compliance_Reason'].fillna('No Reason Specified', inplace=True)

In [ ]:
mask_compliant_and_nan = (df_policy['Policy_Compliance'] == 'Yes') & (df_policy['Non_Compliance_Reason'].isnull())
df_policy.loc[mask_compliant_and_nan, 'Non_Compliance_Reason'] = 'No Reason (Compliant)'
df_policy['Non_Compliance_Reason'] = df_policy['Non_Compliance_Reason'].fillna('No Reason Specified')

print("### Missing values in df_policy (after handling) ###")
print(df_policy.isnull().sum())

### Missing values in df_policy (after handling) ###
Employee_ID                    0
Name                           0
Working_Days                   0
Target_Sales                   0
Actual_Sales                   0
Customer_Satisfaction_Score    0
Policy_Compliance              0
Low_Working_Days               0
Target_Not_Met                 0
Low_Customer_Satisfaction      0
Non_Compliance_Reason          0
Month                          0
dtype: int64

In [ ]:
print("### Duplicate rows in df_transactions (before handling) ###")
print(df_transactions.duplicated().sum())

### Duplicate rows in df_transactions (before handling) ###
0

In [ ]:
print("### Duplicate rows in df_transactions (after handling) ###")
print(df_transactions.duplicated().sum())

### Duplicate rows in df_transactions (after handling) ###
0

In [ ]:
print("### Duplicate rows in df_policy (before handling) ###")
print(df_policy.duplicated().sum())

### Duplicate rows in df_policy (before handling) ###
0

In [ ]:
print("### Duplicate rows in df_policy (after handling) ###")
print(df_policy.duplicated().sum())

### Duplicate rows in df_policy (after handling) ###
0

In [ ]:
print("### df_transactions - Current Data Types ###")
print(df_transactions.info())

### df_transactions - Current Data Types ###
<class 'pandas.core.frame.DataFrame'>
Index: 2858706 entries, 0 to 2858705
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         float64
 10  isFlaggedFraud  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 261.7+ MB
None

In [ ]:
print("### Optimizing data types for df_transactions ###")

df_transactions['step'] = df_transactions['step'].astype('int16')
df_transactions['type'] = df_transactions['type'].astype('category')
df_transactions['amount'] = df_transactions['amount'].astype('float32')
df_transactions['oldbalanceOrg'] = df_transactions['oldbalanceOrg'].astype('float32')
df_transactions['newbalanceOrig'] = df_transactions['newbalanceOrig'].astype('float32')
df_transactions['oldbalanceDest'] = df_transactions['oldbalanceDest'].astype('float32')
df_transactions['newbalanceDest'] = df_transactions['newbalanceDest'].astype('float32')
df_transactions['isFraud'] = df_transactions['isFraud'].astype('int8')
df_transactions['isFlaggedFraud'] = df_transactions['isFlaggedFraud'].astype('int8')

print("\n### df_transactions - Data Types after Optimization ###")
df_transactions.info()

### Optimizing data types for df_transactions ###

### df_transactions - Data Types after Optimization ###
<class 'pandas.core.frame.DataFrame'>
Index: 2858706 entries, 0 to 2858705
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int16
 1   type            category
 2   amount          float32
 3   nameOrig        object
 4   oldbalanceOrg   float32
 5   newbalanceOrig  float32
 6   nameDest        object
 7   oldbalanceDest  float32
 8   newbalanceDest  float32
 9   isFraud         int8
 10  isFlaggedFraud  int8
dtypes: category(1), float32(5), int16(1), int8(2), object(2)
memory usage: 133.6+ MB

In [ ]:
print("### df_policy - Current Data Types ###")
print(df_policy.info())

### df_policy - Current Data Types ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Employee_ID                  4000 non-null   int64
 1   Name                         4000 non-null   object
 2   Working_Days                 4000 non-null   int64
 3   Target_Sales                 4000 non-null   int64
 4   Actual_Sales                 4000 non-null   int64
 5   Customer_Satisfaction_Score  4000 non-null   float64
 6   Policy_Compliance            4000 non-null   object
 7   Low_Working_Days             4000 non-null   bool
 8   Target_Not_Met               4000 non-null   bool
 9   Low_Customer_Satisfaction    4000 non-null   bool
 10  Non_Compliance_Reason        4000 non-null   object
 11  Month                        4000 non-null   object
dtypes: bool(3), float64(1), int64(4), object(4)
memory usage: 293.1+ KB
None

In [ ]:
print("### Optimizing data types for df_policy ###")

df_policy['Employee_ID'] = df_policy['Employee_ID'].astype('int16')
df_policy['Working_Days'] = df_policy['Working_Days'].astype('int8')
df_policy['Target_Sales'] = df_policy['Target_Sales'].astype('int16')
df_policy['Actual_Sales'] = df_policy['Actual_Sales'].astype('int16')
df_policy['Customer_Satisfaction_Score'] = df_policy['Customer_Satisfaction_Score'].astype('float32')
df_policy['Policy_Compliance'] = df_policy['Policy_Compliance'].astype('category')
df_policy['Non_Compliance_Reason'] = df_policy['Non_Compliance_Reason'].astype('category')
df_policy['Month'] = df_policy['Month'].astype('category')

print("\n### df_policy - Data Types after Optimization ###")
df_policy.info()

### Optimizing data types for df_policy ###

### df_policy - Data Types after Optimization ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Employee_ID                  4000 non-null   int16
 1   Name                         4000 non-null   object
 2   Working_Days                 4000 non-null   int8
 3   Target_Sales                 4000 non-null   int16
 4   Actual_Sales                 4000 non-null   int16
 5   Customer_Satisfaction_Score  4000 non-null   float32
 6   Policy_Compliance            4000 non-null   category
 7   Low_Working_Days             4000 non-null   bool
 8   Target_Not_Met               4000 non-null   bool
 9   Low_Customer_Satisfaction    4000 non-null   bool
 10  Non_Compliance_Reason        4000 non-null   category
 11  Month                        4000 non-null   category
dtypes: bool(3), category(3), float32(1), int16(3), int8(1), object(1)
memory usage: 98.6+ KB

In [ ]:
print("\n### df_transactions - Cleaned Data Overview ###")
print(df_transactions.head())
df_transactions.info()

print("\n### df_policy - Cleaned Data Overview ###")
print(df_policy.head())
df_policy.info()

### df_transactions - Cleaned Data Overview ###
   step      type        amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.639648  C1231006815       170136.0   160296.359375
1     1   PAYMENT   1864.280029  C1666544295        21249.0    19384.720703
2     1  TRANSFER    181.000000  C1305486145          181.0        0.000000
3     1  CASH_OUT    181.000000   C840083671          181.0        0.000000
4     1   PAYMENT  11668.139648  C2048537720        41554.0    29885.859375

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0
<class 'pandas.core.frame.DataFrame'>
Index: 2858706 entries, 0 to 2858705
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int16
 1   type            category
 2   amount          float32
 3   nameOrig        object
 4   oldbalanceOrg   float32
 5   newbalanceOrig  float32
 6   nameDest        object
 7   oldbalanceDest  float32
 8   newbalanceDest  float32
 9   isFraud         int8
 10  isFlaggedFraud  int8
dtypes: category(1), float32(5), int16(1), int8(2), object(2)
memory usage: 133.6+ MB

### df_policy - Cleaned Data Overview ###
   Employee_ID         Name  Working_Days  Target_Sales  Actual_Sales  \
0            1  Ahmed Tariq            21         14435         19470
1            2  Usman Iqbal            18          9998          9968
2            3  Fatima Khan            27          5162         11493
3            4   Zain Tariq            29          6974          8103
4            5  Ahmed Malik            25          8291          6076

   Customer_Satisfaction_Score Policy_Compliance  Low_Working_Days  \
0                          2.3                No             False
1                          3.0                No              True
2                          3.3                No             False
3                          2.8                No             False
4                          3.7                No             False

   Target_Not_Met  Low_Customer_Satisfaction  \
0           False                       True
1           False                       True
2           False                       True
3           False                       True
4            True                       True

                         Non_Compliance_Reason     Month
0                    Low Customer Satisfaction     March
1  Low Working Days, Low Customer Satisfaction  December
2                    Low Customer Satisfaction  February
3                    Low Customer Satisfaction       May
4    Target Not Met, Low Customer Satisfaction  February
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Employee_ID                  4000 non-null   int16
 1   Name                         4000 non-null   object
 2   Working_Days                 4000 non-null   int8
 3   Target_Sales                 4000 non-null   int16
 4   Actual_Sales                 4000 non-null   int16
 5   Customer_Satisfaction_Score  4000 non-null   float32
 6   Policy_Compliance            4000 non-null   category
 7   Low_Working_Days             4000 non-null   bool
 8   Target_Not_Met               4000 non-null   bool
 9   Low_Customer_Satisfaction    4000 non-null   bool
 10  Non_Compliance_Reason        4000 non-null   category
 11  Month                        4000 non-null   category
dtypes: bool(3), category(3), float32(1), int16(3), int8(1), object(1)
memory usage: 98.6+ KB

In [ ]:
print("### Duplicate rows in df_policy (after all cleaning steps) ###")
print(df_policy.duplicated().sum())

### Duplicate rows in df_policy (after all cleaning steps) ###
0

In [ ]:
df_transactions.rename(columns={'nameOrig': 'subject_id', 'type': 'event_type', 'amount': 'val', 'isFraud': 'is_violation'}, inplace=True)

print("### df_transactions - First 5 Rows After Renaming ###")
print(df_transactions.head())
print("\n### df_transactions - Column Names After Renaming ###")
print(df_transactions.columns)

### df_transactions - First 5 Rows After Renaming ###
   step event_type           val   subject_id  oldbalanceOrg  newbalanceOrig  \
0     1    PAYMENT   9839.639648  C1231006815       170136.0   160296.359375
1     1    PAYMENT   1864.280029  C1666544295        21249.0    19384.720703
2     1   TRANSFER    181.000000  C1305486145          181.0        0.000000
3     1   CASH_OUT    181.000000   C840083671          181.0        0.000000
4     1    PAYMENT  11668.139648  C2048537720        41554.0    29885.859375

      nameDest  oldbalanceDest  newbalanceDest  is_violation  isFlaggedFraud
0  M1979787155             0.0             0.0             0               0
1  M2044282225             0.0             0.0             0               0
2   C553264065             0.0             0.0             1               0
3    C38997010         21182.0             0.0             1               0
4  M1230701703             0.0             0.0             0               0

### df_transactions - Column Names After Renaming ###
Index(['step', 'event_type', 'val', 'subject_id', 'oldbalanceOrg',
       'newbalanceOrig', 'nameDest', 'oldbalanceDest', 'newbalanceDest',
       'is_violation', 'isFlaggedFraud'],
      dtype='object')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, average_precision_score
import joblib

# Initialize the RandomForestClassifier with class_weight to handle imbalance
# Setting class_weight='balanced' automatically adjusts weights inversely proportional to class frequencies
model = RandomForestClassifier(random_state=42, n_jobs=-1, class_weight='balanced')

print("### Training RandomForestClassifier... ###")
model.fit(X_train, y_train)
print("### Training complete. ###")

# Make predictions on the test set
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1] # Probability of the positive class (1)

# Evaluate the model
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
auc_roc = roc_auc_score(y_test, y_pred_proba)
auc_pr = average_precision_score(y_test, y_pred_proba)

print("\n### Model Evaluation on Test Set ###")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")
print(f"AUC-ROC: {auc_roc:.4f}")
print(f"AUC-PR: {auc_pr:.4f}")

# Save the trained model
model_filename = 'model.pkl'
joblib.dump(model, model_filename)
print(f"\n### Model saved as {model_filename} ###")

### Training RandomForestClassifier... ###
### Training complete. ###

### Model Evaluation on Test Set ###
Precision: 0.3381
Recall: 0.3413
F1-Score: 0.3397
AUC-ROC: 0.6964
AUC-PR: 0.3426

### Model saved as model.pkl ###